body {
    /* padding: 50px; */
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    cursor: default !important;
    text-decoration: none !important;
    color: black !important;
}

nav {
    background-color: black !important;
}

.folder-container {
    padding: 50px;
    padding-top: 35px;
}

.folder-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.folder-icon {
    height: 30px;
    margin-right: 10px;
}


/* main.ejs page === Dashboard Page Styles */

.tile {
    margin-bottom: 20px;
    display: flex;
    min-width: 240px;
    /* justify-content: center; */
    padding: 10px;
    align-items: center;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    cursor: pointer;
    transition: all 0.3s;
}

.tile:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    transform: translateY(-2px);
}

.card {
    padding: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border: 0px !important;
}